<% provide(:title, "拠点一覧") %>
<% provide(:class_text, "baseindex") %>
<% provide(:button_text, "修正") %>

<div>
  <h1>拠点一覧</h1>
  <div>
    <table class="table table-bordered table-condensed table-hover" id="base-tabel">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th>拠点番号</th>
          <th>拠点名</th>
          <th>勤怠種類</th>
        </tr>
      </thead>
      
      <tbody>
        <% @bases.each do |base| %>
        <tr>
          <td>
            <div class="collaps">
              <a href="#collapse-edit<%= base.id %>" data-toggle="collapse" class="btn btn-default btn-primary">修正</a>
            </div>
          </td>
          <td>
            <%= link_to "削除", base, method: :delete,
              data: {confirm: "削除してもよろしいですか？"},
              class: "btn btn-default btn-primary" %>
          </td>
          <td><%= base.base_id %></td>
          <td><%= base.base_name %></td>
          <td><%= base.attendance_type %></td>
        </tr>
        <tr>
          <td colspan="5" class="collapse-edit">
           <div class="collapse" id="collapse-edit<%= base.id %>" aria-expanded="true" style>
              <%= form_with(model: @base, url: basis_path(base), local: true, method: :patch) do |f| %>
                <%= render 'shared/model_error_messages', model: f.object %>
                  
                <%= f.label :base_id, class: "label-#{yield(:class_text)}" %>
                <%= f.number_field :base_id, class: "form-control" %>
                    
                <%= f.label :base_name, class: "label-#{yield(:class_text)}" %>        
                <%= f.text_field :base_name, class: "form-control" %>
                     
                <%= f.label :attendance_type, class: "label-#{yield(:class_text)}" %>   
                <%= f.select :attendance_type, ["出勤", "退勤"], { include_blank: true }, class: "form-control" %>
                  
                <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
              <% end %>
            </div>
          </td>
        </tr>
        <% end %>
        <tr>
          <td>
            <div class="collaps">
              <a href="#collapse-new" data-toggle="collapse" class="btn btn-default btn-primary">拠点情報追加</a>
            </div>
          </td>
        </tr>
          <td colspan="5" class="collapse-new">
            <div class="collapse" id="collapse-new" aria-expanded="true" style>
              <%= form_with(model: @base, local: true) do |f| %>
                <%= render 'shared/model_error_messages', model: f.object %>
                  
                <%= f.label :base_id, class: "label-#{yield(:class_text)}" %>
                <%= f.number_field :base_id, class: "form-control" %>
                    
                <%= f.label :base_name, class: "label-#{yield(:class_text)}" %>        
                <%= f.text_field :base_name, class: "form-control" %>
                     
                <%= f.label :attendance_type, class: "label-#{yield(:class_text)}" %>   
                <%= f.select :attendance_type, ["出勤", "退勤"], { include_blank: true }, class: "form-control" %>
                  
                <%= f.submit "拠点情報追加", class: "btn btn-lg btn-primary btn-#{yield(:class_text)}" %>
              <% end %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
