<% provide(:class_text, 'overtime') %>
<% provide(:button_text, '残業を申請する') %>


<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">残業申請</h1>
    </div>
    <div class="modal-body">
      <%= form_with(model: @user, url: attendances_update_overtime_user_path, local: true, method: :patch) do |f| %>
        <table class="table table-bordered">
            
          <thead>
            <tr>
              <th>日付</th>
              <th>曜日</th>
              <th>終了予定時間</th>
              <th>翌日</th>
              <th>業務内容</th>
              <th>指示者確認㊞</th>
            </tr>
                
            <tbody>
              <% @attendances.each do |day| %>
                <%
                  day_of_week_color = case $days_of_the_week[day.worked_on.wday]
                    when "土"
                      "text-primary"
                    when "日"
                      "text-danger"
                    end
                %>S
                <%= f.fields_for "attendances[]", day do |attendance| %>
                <tr>
                  <th><%= l(@attendance.worked_on, format: :short) %></th>
                  <th class="<%= day_of_week_color %>"><%= $days_of_the_week[@attendance.worked_on.wday] %></th>
                  <th><%= attendance.time_field :estimated_finished_time, class: "form-control" %></th>
                  <th><%= attendance.check_box :spread_day, id: "remember_me" %></th>
                  <th><%= attendance.text_field :job_description, placeholder: "業務内容を入力してください。", class: "form-control" %></th>
                  <th><%= attendance.collection_select :boss, @superiors, :id, :name, {:include_blank => "選択してください。"}, {class: "form-control"} %></th>
                </tr>
                <% end %>
              <% end %>
            </tbody>
                  
            <table>
              <div class="footer-button">
                <%= f.submit yield(:button_text), class: "btn btn-primary btn-#{yield(:class_text)}" %>
                <button type="button" class="btn btn-default btn-<%= yield(:class_text) %>" data-dismiss="modal">
                  キャンセル
              </button>
            </div>
          </table>
        </table>
      <% end %>
    </div>
  </div>
</div>