<% provide(:class_text, 'overtime') %>
<% provide(:button_text, '残業を申請する') %>

<%= form_with(model: @user, url: attendances_update_one_month_user_path(date: @first_day), local: true, method: :patch) do |f| %>
  <div class="modal-dialog modal-lg modal-dialog-center">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h1 class="modal-title">残業申請</h1>
      </div>
      <div class="modal-body">
        <%= form_with(model: @attendance, url: attendances_request_overtime_user_path(@attendance), local: true, method: :patch) do |f| %>
          <table class="table table-bordered">
            
            <thead>
              <tr>
                <th>日付</th>
                <th>曜日</th>
                <th>終了予定時間</th>
                <th>翌日</th>
                <th>業務内容</th>
                <th>指示者確認㊞</th>
              </tr>
            </thead>
              <% css_class
                day_of_week_color = case $days_of_the_week[day.worked_on.wday]
                when "土"
                  "text-primary"
                when "日"
                  "text-danger"
                end
              %>
                
                <tbody>
                  <% @attendances.each do |day| %>
                    <%
                      day_of_week_color = case $days_of_the_week[day.worked_on.wday]
                      when "土"
                        "text-primary"
                      when "日"
                        "text-danger"
                      end
                    %>
                  <%= f.fields_for "attendances[]", day do |attendance| %>
                  <tr>
                    <th><%= l(@attendance.worked_on, format: :short) %></th>
                    <th class="<%= css_class %>"><%= $days_of_the_week[@attendance.worked_on.wday]%></th>
                    <th><%= f.time_field :finish_time, class: "form-control" %></th>
                    <th><%= f.check_box :spread_day, id: "remember_me" %></th>
                    <th><%= f.text_field :job_description, class: "form-control" %></th>
                    <th><%= f.select :boss, [["選択してください"],["上長A"],["上長B"]]%></th>
                  </tr>
                </tbody>
            
              <table class="center">
                <%= f.submit yield(:button_text), class: "btn btn-block btn-primary btn-#{yield(:class_text)}" %>
              </table>
          </table>
        <% end %>
      </div>
    </div>
  </div>
<% end %>