<div class="container">
  <div class="row form-group">

    <div class="col-md-2" id="search-attendance-log">
      <%= form_with url: @attendance, method: :get, local: true do |f|  %>
        <%= f.collection_select :id, @approval_change_attendance_requests, :worked_on, :worked_on, :prompt =>"年", class: "selectpicker" %>
        <%= f.select :month, 1..12, :prompt =>"月", class: "form-horizontal" %>
        <%= f.submit "検索", class: " btn-primary search-btn form-control" %>
      <% end %>
    </div>
    
      <div>
        <h1>勤怠ログ</h1>
        <table class="table table-bordered table-condensed table-hover" id="table-attendances-log">
          <thead>
            <tr>
              <th>日付</th>
              <th>変更前出社時間</th>
              <th>変更前退社時間</th>
              <th>変更後出社時間</th>
              <th>変更後退社時間</th>
              <th>指示者</th>
              <th>承認日</th>
            </tr>
          </thead>
          <tbody>
            <% @approval_change_attendance_requests.each do |day| %>
              <tr>
                <td><%= l(day.worked_on, format: :default) %></td>
                <td><%= l(day.started_at, format: :time) if day.started_at.present? %></td>
                <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>
                <td><%= l(day.after_started_at, format: :time) if day.after_started_at.present? %></td>
                <td><%= l(day.after_finished_at, format: :time) if day.after_started_at.present? %></td>
                <td><%= User.find(day.boss).name %></td>
                <td><%= day.updated_at.in_time_zone('Tokyo').strftime("%Y/%m/%d") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      
      <div class="center">
        <%= link_to "キャンセル", user_path(date: @first_day), class: "btn btn-lg btn-default" %>
      </div>
  </div>
</div>